h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

code {
    font-size: 75%;
}

pre {
    font-size: .7rem;
}

img {
    display: inline;
    margin: 0;
}

.pagination-item {
    border: medium none;
    width: 50%;
}

.newer {
    float: right;
}

.older {
    float: left;
}

.index-post-title {
  font-size: 1.2rem;
}

.center {
    text-align: center;
}

.comments {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.comment-contents {
    margin-top: 1em;
}

.comment {
    margin-top: 1em;
    padding: 1em;
    background: #f8f8f8;
}

.comment-rom {
    margin-top: 1em;
    padding: 1em;
    background: #e8e8e8;
}

.comment-pingback {
    margin-top: 1em;
    padding: 1em;
}

.comment-author {
    font-weight: bold;
}

.comment-date a {
    font-size: 0.7em;
    font-style: italic;
    color: #888;
}

.comment-title {
    font-weight: 400;
}

.comment-table {
    border: medium none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .7rem;
}

table.comment-table th {
    text-align: right;
    border: medium none;
}

table.comment-table td {
    border: medium none;
}

table.comment-table textarea {
    width: 100%;
}

table.comment-table tbody tr td,
table.comment-table tbody tr th {
    background: none;
}

.comment-submit {
    float: right;
}

.sidebar-checkbox {
  /* fixes navbar behavior <https://github.com/poole/lanyon/issues/192> */
  display: none;
}
