DirectoryIndex index.html index.xml
<IfModule mod_rewrite.c>
    # Rewrite URLs from old Wordpress blog
    RewriteEngine on
    RewriteRule "^feed/atom/?$" "/feed/" [R]
    RewriteRule "^feed/rss/?$" "/feed/" [R]
    RewriteRule "^a-propos/?$" "/about/" [R]
</IfModule>
<IfModule mod_headers.c>
    <FilesMatch "^index.xml$">
        Header set Content-type "application/atom+xml; charset=utf-8"
    </FilesMatch>
</IfModule>
