{% capture commentid %}comments{{ page.id | replace: '/', '-' }}{% endcapture %}
{% if site.data[commentid] or site.comments_form %}
<h2 id="comments">{{ site.l10n[page.lang].comments }}</h2>
<div class="comments">
    {% for comment in site.data[commentid] %}
        <div id="comment-{{ comment.id }}" class="comment{% if (comment.pingback) %}-pingback{% elsif (comment.author == '®om') %}-rom{% endif %}" />
            <div class="comment-author">
                {% if (comment.author-url) %}<a href="{{comment.author-url}}">{% endif %}
                {{ comment.author }}
                {% if (comment.author-url) %}</a>{% endif %}
            </div>
            <div class="comment-date">
                <a href="#comment-{{ comment.id }}">
                    {{ comment.date | date: "%-d %B %Y, %H:%M" }}
                </a>
            </div>
            <div class="comment-contents">
                {{ comment.contents | liquify | markdownify }}
            </div>
        </div>
    {% endfor %}
</div>
{% if site.comments_form %}
{% if page.comments_closed %}
<p><em>{{ site.l10n[page.lang].comments-closed }}<em></p>
{% else if %}
<h3 class="comment-title">{{ site.l10n[page.lang].comment-post }}</h3>
<form method="POST" action="/comments/submit.php">
    <input type="hidden" name="post_id" value="{{ page.id }}" />
    <input type="hidden" name="return_url" value="{{ page.url }}" />
    <input type="hidden" name="lang" value="{{ page.lang }}" />
    <table class="comment-table">
        <tr>
            <th>{{ site.l10n[page.lang].comment-name }} :</th>
            <td>
                <input type="text" size="25" name="name" />
                <em>({{ site.l10n[page.lang].comment-required }})</em>
            </td>
        </tr>
        <tr>
            <th>{{ site.l10n[page.lang].comment-email }} :</th>
            <td>
                <input type="text" size="25" name="email" />
                <em>({{ site.l10n[page.lang].comment-optional }}, {{ site.l10n[page.lang].comment-not-published }})</em>
            </td>
        </tr>
        <tr>
            <th>{{ site.l10n[page.lang].comment-url }} :</th>
            <td>
                <input type="text" size="25" name="url" />
                <em>({{ site.l10n[page.lang].comment-optional }})</em>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {{ site.l10n[page.lang].comment-question }} <input type="text" name="antispam" size="1" maxlength="1" />
                <em>({{ site.l10n[page.lang].comment-antispam }})</em>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea name="comment" rows="10"></textarea><br />
                <em>{{ site.l10n[page.lang].comment-notice }}</em>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="comment-submit" type="submit" value="{{ site.l10n[page.lang].comment-send }}" />
            </td>
        </tr>
    </table>
</form>
{% endif %}
{% endif %}
{% endif %}
